@CHARSET "US-ASCII";


div.clearfix{
	clear: both;
}

li {
	cursor: pointer;
}


body{
background-color:gray;
}

a {
    text-decoration: none;
    color:yellow;
    opacity: 0.4;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}
a:hover {
	
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}​

li {
    color:lightblue;
    opacity: 0.4;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}
li:hover {
	
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}​



#wrapper {
	width: 940px;
	margin: 0 auto;
}


header {
	width: 100%;
	height: 75px;
	text-align: center;
	font-family: arial,sans-serif;
	background-color: gray;
	color: white;
}

ul.header_nav {
	padding-top: 25px;
}

ul.footer_nav {
	padding-top: 25px;
}

ul.header_nav li{
	display: inline;
	margin-right: 50px;
	
}

ul.footer_nav li{
	display: inline;
	margin-right: 50px;
	
}

ul.left_nav_list{
	list-style-type: none;
}

ul.left_nav_list li {
	margin-bottom: 25px;
}

div.left_nav{
	width: 20%;
	height: 300px;
	float: left;
	text-align: center;
	font-family: arial,sans-serif;
	background-color: gray;
	color: white;
}



.left 
{ 
	float: left; 
	margin: 3px; 
	
	}

div.content{

	height: 300px;
	float: left;
	width: 80%;
	text-align: center;
	font-family: arial,sans-serif;
	background-color: gray;
	color: white;
	overflow:auto;
}

div.content img {
	

}

footer{
	width: 100%;
	height: 75px;
	float: left;
	text-align: center;
	font-family: arial,sans-serif;
	background-color: gray;
	color: white;
}